.navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: none;
    background-color: transparent;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}
.container {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.nav-link {
    display: flex;
    flex-direction: row;
}
.navBar-links {
    display: flex;
    flex-direction: row;
}
li {
    display: flex;
    flex-direction: row;
}